Webhoook noded-hassio example.txt
[{"id":"7158c197.793c2","type":"ha-webhook","z":"8f27c3aa.ce3fd","name":"Telegram ripping","server":"837aa726.140458","outputs":1,"webhookId":"AasjntjzbP22LPvjtn3rAkmqRTUxOSBzTelegramripping","payloadLocation":"payload","payloadLocationType":"msg","headersLocation":"","headersLocationType":"none","x":140,"y":720,"wires":[["b1ac7a3.d49d788","2a4b601b.7abd6"]]},{"id":"29b053e9.0c1b8c","type":"ha-entity","z":"8f27c3aa.ce3fd","name":"Telegram ripping","server":"837aa726.140458","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Telegram ripping"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload.Text","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":640,"y":620,"wires":[["d39f502f.5e247"]]},{"id":"6befc6f7.4462a8","type":"function","z":"8f27c3aa.ce3fd","name":"Set time in message","func":"var d = new Date(); \nmsg.payload =  d.getFullYear() + \"-\" + ('0' + (d.getMonth()+1)).slice(-2) + \"-\" + d.getDate() + \" \" + ('0' + (d.getHours())).slice(-2) + \":\" + ('0' + (d.getMinutes())).slice(-2) + \":\" + ('0' + (d.getSeconds())).slice(-2);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":820,"wires":[["45e9052c.eb654c"]]},{"id":"45e9052c.eb654c","type":"ha-entity","z":"8f27c3aa.ce3fd","name":"Telegram ripping timer","server":"837aa726.140458","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Telegram ripping timer"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":840,"y":820,"wires":[[]]},{"id":"b1ac7a3.d49d788","type":"inject","z":"8f27c3aa.ce3fd","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":380,"y":820,"wires":[["6befc6f7.4462a8"]]},{"id":"2a4b601b.7abd6","type":"switch","z":"8f27c3aa.ce3fd","name":"","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"Text","vt":"str"},{"t":"hask","v":"Error","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":680,"wires":[["57f989ba.006598","29b053e9.0c1b8c"],["c1ef23cf.4fe96"]]},{"id":"c1ef23cf.4fe96","type":"api-call-service","z":"8f27c3aa.ce3fd","name":"Send notification","server":"837aa726.140458","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_r","entityId":"","data":"{\"message\":\"Error with Telegram automation\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":660,"y":700,"wires":[["3e062f19.21c29"]]},{"id":"e925e8e6.673bc8","type":"ha-entity","z":"8f27c3aa.ce3fd","name":"","server":"837aa726.140458","version":1,"debugenabled":false,"outputs":1,"entityType":"binary_sensor","config":[{"property":"name","value":"Telegram error"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"false","stateType":"bool","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1130,"y":660,"wires":[[]]},{"id":"d39f502f.5e247","type":"change","z":"8f27c3aa.ce3fd","name":"FALSE","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":620,"wires":[["e925e8e6.673bc8"]]},{"id":"3e062f19.21c29","type":"change","z":"8f27c3aa.ce3fd","name":"TRUE","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":700,"wires":[["e925e8e6.673bc8"]]},{"id":"57f989ba.006598","type":"debug","z":"8f27c3aa.ce3fd","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.Text","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":580,"wires":[]},{"id":"837aa726.140458","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]